body {
    background: rgba(0, 0, 0, 0.85);
}
.movieContainer {
    display: flex;
    border: solid #982047;
    max-width: 45vw;
    border-radius: 30px;
    min-width: 900px;
}
.listBox {
    display: flex;
    justify-content: center;
    align-content: center;
}
.movieBox {
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px;
    width: 70%;
}

.title {
    font-size: 1.5rem;
    color: #62bbff;
}
.description {
    font-size: 1rem;
    color: #b4d9ff;
}

.topnav {
    border: solid #9ecaed;
    overflow: hidden;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    min-width: 600px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    align-content: center;
}
.topnav input {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #4d1326;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #982047;
    color: white;
}
.movieList {
    padding-left: 3vw;
    justify-content: center;
    align-content: center;
}
.outTopNav {
    display: flex;
}

.pickBtn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 0.6em;
    color: #62bbff;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 10px;
    padding: 0.8em 1.6em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.pickBtn:hover, .pickBtn:focus {
    color: rgba(55, 255, 238, 0.47);
    outline: 0;
}
.effect {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.effect:hover {
    box-shadow: 0 0 40px 40px #4d1326 inset;
}
#pickMovie {

}