body {
    background: rgba(0, 0, 0, 0.85);
}
.movieContainer {
    display: flex;
    border: solid #982047;
    max-width: 30vw;
    border-radius: 30px;
}
.movieBox {
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px;
}

.title {
    font-size: 1.5rem;
    color: #62bbff;
}
.description {
    font-size: 1rem;
    color: #b4d9ff;
}

.topnav {
    background: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #982047;
    color: white;
}