body {
    background: #111111;
}
.movieContainer {
    display: flex;
    border: solid #982047;
    max-width: 30vw;
    border-radius: 30px;
}
.movieBox {
    align-content: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px;
}

.title {
    font-size: 1.5rem;
    color: #62bbff;
}
.description {
    font-size: 1rem;
    color: #b4d9ff;
}
